p.header {

    text-transform: uppercase;
    padding: 15px;

}

p.top {

    padding: 10px;
    display: flex;
}

.post {
    align-content: space-around;
    border-bottom: 0px solid #494c49;
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.storyimg {
    border: 3px solid #b1b1b15b;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    float: left;
}

tr {
    padding: 10px;
